## 2.3

### (a)

In [41]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

# Load the data

df = pd.read_excel('momentum_data.xlsx', sheet_name='deciles (total returns)')

df

,Date,Lo PRIOR,PRIOR 2,PRIOR 3,PRIOR 4,PRIOR 5,PRIOR 6,PRIOR 7,PRIOR 8,PRIOR 9,Hi PRIOR
0,1927-01-31,-0.0332,-0.0454,0.0267,-0.0029,-0.0041,0.0093,0.0030,0.0071,-0.0014,-0.0024
1,1927-02-28,0.0739,0.0601,0.0703,0.0746,0.0434,0.0398,0.0299,0.0320,0.0414,0.0704
2,1927-03-31,-0.0323,-0.0305,-0.0384,-0.0480,-0.0046,-0.0235,0.0196,0.0049,0.0035,0.0613
3,1927-04-30,0.0128,-0.0301,-0.0244,0.0043,0.0119,-0.0016,0.0203,-0.0074,0.0181,0.0549
4,1927-05-31,0.0271,0.0454,0.0597,0.0314,0.0614,0.0593,0.0522,0.0632,0.0819,0.0592
...,...,...,...,...,...,...,...,...,...,...,...
1179,2025-04-30,-0.0449,-0.0522,-0.0382,-0.0350,-0.0075,-0.0335,-0.0007,-0.0003,-0.0140,0.0769
1180,2025-05-31,0.0860,0.0128,0.0551,0.0563,0.0952,0.0201,0.0462,0.1247,0.0530,0.0582
1181,2025-06-30,0.0827,0.1169,0.0585,0.0440,0.0590,0.0839,0.0317,0.0820,0.0134,0.0401
1182,2025-07-31,-0.0276,0.0187,-0.0156,0.0462,0.0287,0.0678,0.0135,0.0052,-0.0001,0.0074
1183,2025-08-31,0.1157,0.0546,0.0523,0.0831,0.0249,0.0725,0.0323,-0.0118,0.0123,-0.0126

In [47]:
D1 = -df.iloc[:, 1] + df.iloc[:, 10]
D3 = ( -df.iloc[:,1] - df.iloc[:,1] - df.iloc[:,2] + df.iloc[:,10] + df.iloc[:,8] + df.iloc[:,7] ) / 3
D5 = ( -df.iloc[:,4] - df.iloc[:,5] + df.iloc[:,6] - df.iloc[:,3] - df.iloc[:,2] - df.iloc[:,1] + df.iloc[:,10] + df.iloc[:,9] + df.iloc[:,8] + df.iloc[:,7] ) / 5

In [48]:
factors_df = pd.read_excel('momentum_data.xlsx', sheet_name='factors (excess returns)')

mkt = factors_df['MKT']
smb = factors_df['SMB']
hml = factors_df['HML']
mkt

0      -0.0005
1       0.0417
2       0.0014
3       0.0047
4       0.0545
         ...
1179   -0.0084
1180    0.0606
1181    0.0486
1182    0.0198
1183    0.0185
Name: MKT, Length: 1184, dtype: float64

In [50]:
combined_df = pd.DataFrame({
    'D1': D1,
    'D3': D3,
    'D5': D5,
    'mkt': mkt,
    'val': hml
})

combined_df

          D1        D3       D5     mkt     val
0     0.0308  0.039833  0.01490 -0.0005  0.0458
1    -0.0035 -0.025200 -0.02176  0.0417  0.0272
2     0.0936  0.060300  0.04392  0.0014 -0.0238
3     0.0421  0.024100  0.02196  0.0047  0.0065
4     0.0321  0.025000  0.01816  0.0545  0.0480
...      ...       ...      ...     ...     ...
1179  0.1218  0.072633  0.04124 -0.0084 -0.0340
1180 -0.0278  0.014767 -0.00064  0.0606 -0.0288
1181 -0.0426 -0.042833 -0.02200  0.0486 -0.0160
1182  0.0350  0.020867  0.00868  0.0198 -0.0127
1183 -0.1283 -0.092700 -0.04758  0.0185  0.0441

[1184 rows x 5 columns]

In [ ]:
D1mean = D1.mean() * 12
D3mean = D3.mean() * 12
D5mean = D5.mean() * 12

D1std = D1.std() * np.sqrt(12)
D3std = D3.std() * np.sqrt(12)
D5std = D5.std() * np.sqrt(12)

D1sharpe = D1mean / D1std
D3sharpe = D3mean / D3std
D5sharpe = D5mean / D5std

D1skewness = D1.skew()
D3skewness = D3.skew()
D5skewness = D5.skew()

D1kurtosis = D1.kurtosis()
D3kurtosis = D3.kurtosis()
D5kurtosis = D5.kurtosis()

D1mcorr = D1.corr(mkt)
D3mcorr = D3.corr(mkt)
D5mcorr = D5.corr(mkt)

D1hcorr = D1.corr(hml)
D3hcorr = D3.corr(hml)
D5hcorr = D5.corr(hml)

summary_df = pd.DataFrame({
    "Mean (Annualized)": [D1mean, D3mean, D5mean],
    "Vol": [D1std, D3std, D5std],
    "Sharpe Ratio": [D1sharpe, D3sharpe, D5sharpe],
    "Skewness": [D1skewness, D3skewness, D5skewness],
    "Kurtosis": [D1kurtosis, D3kurtosis, D5kurtosis],
    "Corr w/ MKT": [D1mcorr, D3mcorr, D5mcorr],
    "Corr w/ HML": [D1hcorr, D3hcorr, D5hcorr]
}, index=["D1", "D3", "D5"])

display(summary_df)

,Mean (Annualized),Vol,Sharpe Ratio,Skewness,Kurtosis,Corr w/ MKT,Corr w/ HML
D1,0.134831,0.274090,0.491921,-2.198194,16.037935,-0.364888,-0.403082
D3,0.086421,0.214275,0.403318,-2.407147,18.203953,-0.443105,-0.376364
D5,0.049180,0.133025,0.369705,-2.505222,20.813206,-0.361347,-0.390677

### (b)

Yes, using more extreme deciles does give a higher mean, which can be thought of as a more concentrated version of the factor, while at the same time having a higher vol, which I interpret to have a higher exposure to these equities' idiosyncracies.

### (c)

AQR's retail product should probably be the D1 product because it has the highest sharpe & highest mean returns. Retail investors are not vol savvy & therefore likely are not aware of the D1/D5 tradeoff.

### (d)

The difference in the Fama French Construction & the construction in 2.3 is that the FF construction has a slightly lower mean, lower vol, lower sharpe, more skew, less (negative) correlation to the market factor, and more (negative) correlation to the value factor.